extends layout

block content
  div(class="container")
    div(id="column-left")
      div(id="area-supply-nonaction")
        div(class="col-supply-nonaction")
          div(class="supply-nonaction")
            div(class="card-count")
            img(class="supply-nonaction supply-card" id="curseCard" src="/images/cards/curse.jpg")
            img(class="supply-nonaction-big" src="/images/cards/curse.jpg")
          div(class="supply-nonaction")
            div(class="card-count")
            img(class="supply-nonaction supply-card" id="estateCard" src="/images/cards/estate.jpg")
            img(class="supply-nonaction-big" src="/images/cards/estate.jpg")
          div(class="supply-nonaction")
            div(class="card-count")
            img(class="supply-nonaction supply-card" id="duchyCard" src="/images/cards/duchy.jpg")
            img(class="supply-nonaction-big" src="/images/cards/duchy.jpg")
          div(class="supply-nonaction")
            div(class="card-count")
            img(class="supply-nonaction supply-card" id="provinceCard" src="/images/cards/province.jpg")
            img(class="supply-nonaction-big" src="/images/cards/province.jpg")
        div(class="col-supply-nonaction")
          div(class="supply-nonaction" id="div-copper")
            div(class="card-count")
            img(class="supply-nonaction supply-card" id="copperCard" src="/images/cards/copper.jpg")
            img(class="supply-nonaction-big" src="/images/cards/copper.jpg")
          div(class="supply-nonaction")
            div(class="card-count")
            img(class="supply-nonaction supply-card" id="silverCard" src="/images/cards/silver.jpg")
            img(class="supply-nonaction-big" src="/images/cards/silver.jpg")
          div(class="supply-nonaction")
            div(class="card-count")
            img(class="supply-nonaction supply-card" id="goldCard" src="/images/cards/gold.jpg")
            img(class="supply-nonaction-big" src="/images/cards/gold.jpg")
      div(id="area-player-deck")
        div(class="card-count")
        img(id="deck" src="/images/cards/back.jpg")
    div(id="column-middle")
      div(id="area-supply-kingdom")
        div(class="row-supply-kingdom")
          div(class="supply-kingdom")
            div(class="card-count")
            img(class="supply-kingdom supply-card" id="kcard0")
            img(class="supply-kingdom-orig")
          div(class="supply-kingdom")
            div(class="card-count")
            img(class="supply-kingdom supply-card" id="kcard1")
            img(class="supply-kingdom-orig")
          div(class="supply-kingdom")
            div(class="card-count")
            img(class="supply-kingdom supply-card" id="kcard2")
            img(class="supply-kingdom-orig")
          div(class="supply-kingdom")
            div(class="card-count")
            img(class="supply-kingdom supply-card" id="kcard3")
            img(class="supply-kingdom-orig")
          div(class="supply-kingdom")
            div(class="card-count")
            img(class="supply-kingdom supply-card" id="kcard4")
            img(class="supply-kingdom-orig")
        div(class="row-supply-kingdom")
          div(class="supply-kingdom")
            div(class="card-count")
            img(class="supply-kingdom supply-card" id="kcard5")
            img(class="supply-kingdom-orig")
          div(class="supply-kingdom")
            div(class="card-count")
            img(class="supply-kingdom supply-card" id="kcard6")
            img(class="supply-kingdom-orig")
          div(class="supply-kingdom")
            div(class="card-count")  
            img(class="supply-kingdom supply-card" id="kcard7")
            img(class="supply-kingdom-orig")
          div(class="supply-kingdom")
            div(class="card-count")
            img(class="supply-kingdom supply-card" id="kcard8")
            img(class="supply-kingdom-orig")
          div(class="supply-kingdom")
            div(class="card-count")
            img(class="supply-kingdom supply-card" id="kcard9")
            img(class="supply-kingdom-orig")
      div(id="area-play-center")
        div(id="turn-stats")
          table
            tr 
              td Action:
              td(id="actionCount") 1
            tr
              td Buy:
              td(id="buyCount") 1
            tr
              td Coins:
              td(id="coinCount") 0
        div(id="play-prompt")
          Your turn! Play an action.
        button(id="end-turn") End Turn
        div(id="play-area")
      div(id="area-player-hand")
    div(id="column-right")
      div(id="area-log")
        div(id="log-box")
      div(id="area-misc")
        div(id="area-discard-pile")
          img(id="discard-pile" src="/images/cards/back.jpg")
    script(src='/javascripts/card.js')
    script(src='/javascripts/player.js')     
    script(src='/javascripts/game.js')
