extends layout

block content
  div(id="column-left")
    div(id="area-supply-nonaction")
      div(class="col-supply-nonaction")
        div(class="supply-curse")
        div(class="supply-victory")
        div(class="supply-victory")
        div(class="supply-victory")
      div(class="col-supply-nonaction")
        div(class="supply-treasure")
        div(class="supply-treasure")
        div(class="supply-treasure")
    div(id="area-player-aside")
      div(class="player-aside")
      div(class="player-aside")
  div(id="column-middle")
    div(id="area-supply-action")
      div(class="row-supply-kingdom")
        div(class="supply-kingdom")
        div(class="supply-kingdom")
        div(class="supply-kingdom")
        div(class="supply-kingdom")
        div(class="supply-kingdom")
      div(class="row-supply-kingdom")
        div(class="supply-kingdom")
        div(class="supply-kingdom")
        div(class="supply-kingdom")
        div(class="supply-kingdom")
        div(class="supply-kingdom")
    div(id="area-play-center")
      div(id="turn-stats")
        p Action: 1 <br />
        p Buy: 1 <br />
        p Coins: 3 <br />
      div(id="play-prompt")
        p Your turn! Play an action.
      div(id="play-area")
    div(id="area-player-hand")
      img(class="player-action")
      img(class="player-action")
      img(class="player-action")
      img(class="player-action")
      img(class="player-action")
  div(id="column-right")
    div(id="area-log")
      div(id="log-box")
        p. 
          ---------- tfc2014: turn 1 ---------- <br />
          tfc2014 - plays 4 Copper <br />
          tfc2014 - buys Smithy <br />
          tfc2014 - gains Smithy <br />
          tfc2014 - draws Estate, Copper, Copper, Copper, Estate <br />
        p.
          ---------- Villager Bot: turn 1 ---------- <br />
          Villager Bot - plays 3 Copper <br />
          Villager Bot - buys Silver <br />
          Villager Bot - gains Silver <br />
          Villager Bot - draws Copper, Copper, Estate, Copper, Copper <br />
    div(id="area-player-scroll")
