div, img {
  box-sizing: border-box;
  /*border: 1px dotted black;*/
}

#column-left {
  float: left;
  display: flex;
  flex-direction: column;
  width: 17.5%;
  height: 100%;
}

#column-middle {
  float: left;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
}

#column-right {
  float: left;
  display: flex;
  flex-direction: column;
  width: 27.5%;
  height: 100%;
}

#area-supply-nonaction {
  width: 100%;
  height: 60%;
}

.col-supply-nonaction {
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.supply-nonaction {
  z-index: 1;
  width: 90%;
  height: 23%;
  margin-bottom: 8%;
}

.supply-nonaction-big {
  display: none;
  z-index: 2;
  position: absolute;
  width: 150px;
  height: 240px;
}

#area-player-aside {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.player-aside {
  width: 45%;
  height: 46%;
  margin-top: 8%;
}

#area-supply-kingdom {
  width: 100%;
  height: 31.4%;
}

.row-supply-kingdom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

img.supply-kingdom {
  z-index: 1;
  width: 18%;
  height: 90%;
  margin-right: 2%;
/*  border: 1px dashed red;*/
}

img.supply-kingdom-orig {
  display: none;
  z-index: 2;
  position: absolute;
  width: 243px;
  height: 382px;
}

#area-play-center {
  width: 100%;
  height: 42.8%;
}

#turn-stats {
  float: left;
  width: 25%;
  height: 30%;
  margin-right: 5%;
  background-image: url(/images/cloud_stats.jpg);
  border-radius: 10px;
}

#turn-stats td {
  /*margin: 0 10px;*/
  padding: 5px 0 5px 20px;
  font-weight: bold;
}

#play-prompt {
  float: left;
  width: 70%;
  height: 30%;
  background-image: url(/images/cloud_prompt.jpg);
  border-radius: 10px;

  padding: 5px 10px;
  font-size: 24px;
}

/*#play-prompt p {
  
}*/

#play-area {
  clear: left;
  width: 100%;
  height: 70%;
  border: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

img.hand-to-play {
  width: 18%;
  height: 85.7%;
  margin-right: 2%;
}

#area-player-hand {
  width: 100%;
  height: 25.8%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

img.handcard {
  width: 18%;
  height: 100%;
  margin-right: 2%;
/*  border: 1px dashed red;*/
}

#area-log {
  width: 100%;
  height: 74.2%;
}

#log-box {
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 5%;
  background-image: url(/images/parchment_paper.jpg);
  border-radius: 10px;
}

#log-box p {
  padding: 25px 15px 0 15px;
}

#area-player-scroll {
  width: 100%;
  height: 25.8%;
}

.scroll-button {
  width: 14%;
  height: 80%;
  margin-top: 10%;
  margin-left: 5%;
}