html { 
  background: url(/images/landing_merlin.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 1200px;
  height: 700px;
  margin: auto;
  /*border: 1px solid black;*/
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "BlackChancery";
  src: local("BlackChancery"),
       url('/fonts/black_chancery.ttf');
}

h1 {
  width: 60%;
  height: 20%;
  margin: auto;
  padding-top: 30px;

  color: #000033;
  font: 90px "BlackChancery", Georgia, Times, serif;
  text-align: center;
  letter-spacing: 0.1em;
}

#init-game {
  width: 50%;
  margin: auto;
  border: none;
  font-size: 18px;
}

input[type="text"] {
  display: inline-block;
  margin: 20px 30px;
  width: 70%;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  font-size: 20px;
}

input[type="text"]:focus {
  border: solid 1px #000033;
  box-shadow: 0 0 5px 1px #969696;
}

button {
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 18px;
}

button#btn-start-game {
  margin: 20px 40px;
}

#turn-stats p {
  margin: 0 10px;
  padding: 5px 0;
}

#play-prompt p {
  padding: 5px 10px;
  font-size: 24px;
}

div, img {
  box-sizing: border-box;
  border: 1px dotted black;
}

#column-left {
  float: left;
  display: flex;
  flex-direction: column;
  width: 17.5%;
  height: 100%;
}

#column-middle {
  float: left;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
}

#column-right {
  float: left;
  display: flex;
  flex-direction: column;
  width: 27.5%;
  height: 100%;
}

#area-supply-nonaction {
  width: 100%;
  height: 50%;
}

.col-supply-nonaction {
  float: left;
  width: 50%;
  height: 100%;
  flex-direction: column;
  /*justify-content: flex-start;*/
  align-items: flex-start;
}

.supply-curse, .supply-victory, .supply-treasure {
  width: 90%;
  height: 23%;
  margin-top: 8%;
}

#area-player-aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50%;
}

.player-aside {
  width: 45%;
  height: 44%;
  margin-top: 12%;
}

#area-supply-kingdom {
  width: 100%;
  height: 31.4%;
}

.row-supply-kingdom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.supply-kingdom {
  width: 18%;
  height: 90%;
  margin-right: 2%;
  border: 1px dashed red;
}

#area-play-center {
  width: 100%;
  height: 42.8%;
}

#turn-stats {
  float: left;
  width: 30%;
  height: 30%;
}

#play-prompt {
  float: left;
  width: 70%;
  height: 30%;
}

#play-area {
  clear: left;
  width: 100%
  height: 70%
}

#area-player-hand {
  width: 100%;
  height: 25.8%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

img.player-action {
  width: 18%;
  height: 100%;
  margin-right: 2%;
  border: 1px dashed red;
}

#area-log {
  width: 100%;
  height: 74.2%;
}

#log-box {
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 5%;
}

#area-player-scroll {
  width: 100%;
  height: 25.8%;
}

#curseCard {
  style="background-image: url(./public/images/cards/curse.jpg)"
}